*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0EBE3;
    display: flex;
    margin-top: 120px;
}

.map {
    /* position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%); */
    margin: 0 auto;
}

.map path {
    fill: #7D9D9C;
    stroke: #E4DCCF;
    stroke-width: 2px;
    transition: all ease .5s;
    cursor: pointer;
}

.map :hover {
    fill: #576F72;
}

.info-block {
    width: 597px;
    height: 670px;
    background-color: #E4DCCF;
    /* position: absolute;
    left: 75%;
    top: 50%;
    transform: translate(-50%, -50%); */
    margin: 0 auto;
    font-family: 'IM Fell French Canon', serif;
    border-radius: 18px;
    padding: 28px;
}

.image {
    max-width: 480px;
    margin: 0 auto;
}

img {
    width: 100%;
    border-radius: 8px;
}

.start-info .text {
    padding-top: 120px;
}

.start-info .gif {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.title {
    text-align: center;
}

.title h1 {
    padding: 16px 0px;
}

.title p {
    padding: 8px 0px;
}

.weather {
    background-color: #7D9D9C;
    width: 100%;
    height: 30px;
    bottom: 0;
}

.block-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 28px;
}

.block-img img {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

@media only screen and (max-width: 1400px) {
    body {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .map svg {
        width: 100%;
        height: auto;
        vertical-align: middle; 
        overflow: hidden; 
    }

    .info-block {
        width: 80%;
        height: auto;
    }

    .info-block p {
        padding: 0 30px;
    }

    .info-block h1 {
        padding: 16px 30px;
    }
}

@media only screen and (max-width: 550px) {
    body {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .map svg {
        width: 100%;
        height: auto;
        vertical-align: middle; 
        overflow: hidden; 
    }

    .info-block {
        margin: 0 30px;
        margin-top: 30px;
        width: 100%;
        height: auto;
        padding: 0;
    }

    .info-block p {
        padding: 0 30px;
    }

    .info-block h1 {
        padding: 16px 30px;
    }
}